@font-face {
    font-family: NetfllixBlack;
    src: url("netflix-sans-cufonfonts/NetflixSansBlack.ttf");
}

@font-face {
    font-family: NetflixBold;
    src: url("netflix-sans-cufonfonts/NetflixSansBold.ttf");
}

@font-face {
    font-family: NetflixIcon;
    src: url("netflix-sans-cufonfonts/NetflixSansIcon.ttf");
}

@font-face {
    font-family: NetflixLight;
    src: url("netflix-sans-cufonfonts/NetflixSansLight.ttf");
}

@font-face {
    font-family: NetflixMedium;
    src: url("netflix-sans-cufonfonts/NetflixSansMedium.ttf");
}

@font-face {
    font-family: NetflixRegular;
    src: url("netflix-sans-cufonfonts/NetflixSansRegular.ttf");
}

@font-face {
    font-family: NetflixThin;
    src: url("netflix-sans-cufonfonts/NetflixSansThin.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: #fff;
    font-family: NetflixRegular, sans-serif;
}

.navbar {
    position: relative;
}

.main-banner-container {
    position: relative;
    width: 100%;
    height: 70vh;
}

.main-banner-container .signup {
    background-color: #e50914;
    width: 77px;
    height: 32px;
    font-size: 14px;
    font-weight: bold;
    font-family: NetflixBold;
}

.main-banner-container .signup:hover {
    background-color: rgb(193, 17, 25);
}

.main-banner-container .get-started {
    background-color: #e50914;
    font-size: 20px;
    font-weight: bold;
    font-family: NetflixBold;
}

.main-banner-container .get-started:hover {
    background-color: rgb(193, 17, 25);
}

.main-banner-container::before {
    content: "";
    background: url("images/banner.jpg");
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.home-title-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.home-title-container h1 {
    font-family: NetflixBold, sans-serif;
}

.home-title-container .para {
    font-family: NetflixThin, sans-serif;
    font-weight: 900;
}

.search-box {
    background-color: transparent;
}

.logo {
    width: 150px;
    height: 50px;
}

@media screen and (max-width: 950px) {
    .main-banner-container {
        height: 80vh;
    }

    .logo {
        width: 100px;
    }

    .home-title-container h1 {
        font-size: 32px;
        font-weight: 700;
        font-family: NetflixBold, sans-serif;
    }
    .home-title-container .para {
        font-size: 18px;
    }
    .question h3 {
        font-size: 10px;
    }
    .answer p {
        font-size: 18px;
    }
}

.question h3 {
    font-size: 24px;
}
.answer .ans-para {
    font-size: 24px;
}

.search-box {
    width: 400px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.444);
    outline: none;
    border: 1px solid white;
}
.zig-zag-custom {
    height: 400px;
    width: 90%;
}
.zig-zag-container {
    width: 100%;
    height: 600px;
    display: flex;

    border-bottom: 10px solid grey;
}
.home-title-container h1 {
    font-size: 50px;
    font-weight: 900;
}
.home-title-custom .para {
    color: black;
}
.container img {
    width: 150px;
    height: 50px;
}

.zig-zag-title {
    font-size: 48px;
    font-weight: 900;
}
.zig-zag-content {
    font-size: 24px;
}
@media screen and (max-width: 600px) {
    .zig-zag-title {
        font-size: 32px;
        font-weight: 900;
    }
    .zig-zag-content {
        font-size: 18px;
    }
}

section {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}
.faq {
    max-width: 1114px;
    padding: 15px 15px;
    margin-top: 10px;
    padding-bottom: 1rem;

    background-color: #2d2d2d;
}
.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.answer {
    max-height: 0;
    overflow: hidden;
}
.faq .active .answer {
    max-height: 300px;
}
footer {
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
}
footer h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
footer .col {
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 25px;
}
footer li a {
    color: #777;
    font-size: 14px;
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
}
footer li {
    list-style: none;
}
footer ul li a:hover {
    color: #777;
    text-decoration: underline;
}
.search-footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.lang-btn {
    width: 100px;
    height: 30px;
    color: white;
    background-color: transparent;
    border: 1px double white;
}
.para {
    font-size: 18px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

@media screen and (max-width: 325px) {
    .home-title-container h1 {
        font-size: 22px;
    }
    .home-title-container .para {
        font-size: 15px;
    }
    .home-title-container {
        gap: 4px;
    }
    .home-title-container .search-box {
        width: 300px;
        height: 10px;
    }
    .home-title-container .button {
        padding: 0px;
    }
    .container img {
        width: 80px;
        height: 30px;
    }
    .container button {
        padding: 10px 20px;
    }
    .zig-zag-container h1 {
        font-size: 22px;
    }
    .zig-zag-container h3 {
        font-size: 18px;
    }
    .zig-zag-container {
        height: 400px;
    }
    .faq-title {
        font-size: 20px;
    }
    .question h3 {
        font-size: 18px;
    }
    .answer p {
        font-size: 13px;
    }
    .search-box {
        width: 300px;
        height: 30px;
    }
    .button {
        width: 200px;
        height: 30px;
    }
    .container .btn {
        height: 30px;
        padding-top: 0px;
    }
}

@media screen and (max-width: 378px) and (min-width: 325px) {
    .home-title-container h1 {
        font-size: 30px;
    }
    .home-title-container .para {
        font-size: 18px;
    }
    .home-title-container {
        gap: 2px;
    }
    .home-title-container .search-box {
        width: 300px;
        height: 10px;
    }
    .home-title-container .button {
        padding: 0px;
    }
    .container img {
        width: 80px;
        height: 30px;
    }
    .container button {
        padding: 10px 10px;
    }
    .zig-zag-container h1 {
        font-size: 22px;
    }
    .zig-zag-container h3 {
        font-size: 18px;
    }
    .zig-zag-container {
        height: 400px;
    }
    .faq-title {
        font-size: 20px;
    }
    .question h3 {
        font-size: 18px;
    }
    .answer p {
        font-size: 13px;
    }
    .search-box {
        width: 300px;
        height: 30px;
    }
    .button {
        width: 200px;
        height: 30px;
    }
    .container .btn {
        height: 30px;
        padding-top: 0px;
    }
}

@media screen and (max-width: 430px) {
    .home-title-container h1 {
        font-size: 30px;
    }
    .home-title-container {
        gap: 3px;
    }
    .home-title-container .container .search-box {
        width: 300px;
        height: 40px;
    }
    .home-title-container .container .btn {
        height: 40px;
        padding-top: 5px;
    }
    .zig-zag-container {
        height: 500px;
    }
}

@media screen and (max-width: 770px) and (min-width: 430px) {
    .home-title-container h1 {
        font-size: 35px;
    }
    .zig-zag-container h1 {
        font-size: 38px;
    }
    .zig-zag-container {
        display: flex;
        align-items: center;
    }
}
